In [1]:
import numpy as np
import pandas as pd

In [2]:
movies=pd.read_csv("tmdb_5000_movies.csv")
credits=pd.read_csv("tmdb_5000_credits.csv")

In [3]:
movies.head()

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2007-05-19,961000000,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500
2,245000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.sonypictures.com/movies/spectre/,206647,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",en,Spectre,A cryptic message from Bond’s past sends him o...,107.376788,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...","[{""iso_3166_1"": ""GB"", ""name"": ""United Kingdom""...",2015-10-26,880674609,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466
3,250000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",http://www.thedarkknightrises.com/,49026,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",en,The Dark Knight Rises,Following the death of District Attorney Harve...,112.312950,"[{""name"": ""Legendary Pictures"", ""id"": 923}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-07-16,1084939099,165.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The Legend Ends,The Dark Knight Rises,7.6,9106
4,260000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://movies.disney.com/john-carter,49529,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",en,John Carter,"John Carter is a war-weary, former military ca...",43.926995,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}]","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-03-07,284139100,132.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"Lost in our world, found in another.",John Carter,6.1,2124

In [4]:
credits.head()

,movie_id,title,cast,crew
0,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [5]:
credits.head(1)['cast'].values

array(['[{"cast_id": 242, "character": "Jake Sully", "credit_id": "5602a8a7c3a3685532001c9a", "gender": 2, "id": 65731, "name": "Sam Worthington", "order": 0}, {"cast_id": 3, "character": "Neytiri", "credit_id": "52fe48009251416c750ac9cb", "gender": 1, "id": 8691, "name": "Zoe Saldana", "order": 1}, {"cast_id": 25, "character": "Dr. Grace Augustine", "credit_id": "52fe48009251416c750aca39", "gender": 1, "id": 10205, "name": "Sigourney Weaver", "order": 2}, {"cast_id": 4, "character": "Col. Quaritch", "credit_id": "52fe48009251416c750ac9cf", "gender": 2, "id": 32747, "name": "Stephen Lang", "order": 3}, {"cast_id": 5, "character": "Trudy Chacon", "credit_id": "52fe48009251416c750ac9d3", "gender": 1, "id": 17647, "name": "Michelle Rodriguez", "order": 4}, {"cast_id": 8, "character": "Selfridge", "credit_id": "52fe48009251416c750ac9e1", "gender": 2, "id": 1771, "name": "Giovanni Ribisi", "order": 5}, {"cast_id": 7, "character": "Norm Spellman", "credit_id": "52fe48009251416c750ac9dd", "gender": 2, "id": 59231, "name": "Joel David Moore", "order": 6}, {"cast_id": 9, "character": "Moat", "credit_id": "52fe48009251416c750ac9e5", "gender": 1, "id": 30485, "name": "CCH Pounder", "order": 7}, {"cast_id": 11, "character": "Eytukan", "credit_id": "52fe48009251416c750ac9ed", "gender": 2, "id": 15853, "name": "Wes Studi", "order": 8}, {"cast_id": 10, "character": "Tsu\'Tey", "credit_id": "52fe48009251416c750ac9e9", "gender": 2, "id": 10964, "name": "Laz Alonso", "order": 9}, {"cast_id": 12, "character": "Dr. Max Patel", "credit_id": "52fe48009251416c750ac9f1", "gender": 2, "id": 95697, "name": "Dileep Rao", "order": 10}, {"cast_id": 13, "character": "Lyle Wainfleet", "credit_id": "52fe48009251416c750ac9f5", "gender": 2, "id": 98215, "name": "Matt Gerald", "order": 11}, {"cast_id": 32, "character": "Private Fike", "credit_id": "52fe48009251416c750aca5b", "gender": 2, "id": 154153, "name": "Sean Anthony Moran", "order": 12}, {"cast_id": 33, "character": "Cryo Vault Med Tech", "credit_id": "52fe48009251416c750aca5f", "gender": 2, "id": 397312, "name": "Jason Whyte", "order": 13}, {"cast_id": 34, "character": "Venture Star Crew Chief", "credit_id": "52fe48009251416c750aca63", "gender": 2, "id": 42317, "name": "Scott Lawrence", "order": 14}, {"cast_id": 35, "character": "Lock Up Trooper", "credit_id": "52fe48009251416c750aca67", "gender": 2, "id": 986734, "name": "Kelly Kilgour", "order": 15}, {"cast_id": 36, "character": "Shuttle Pilot", "credit_id": "52fe48009251416c750aca6b", "gender": 0, "id": 1207227, "name": "James Patrick Pitt", "order": 16}, {"cast_id": 37, "character": "Shuttle Co-Pilot", "credit_id": "52fe48009251416c750aca6f", "gender": 0, "id": 1180936, "name": "Sean Patrick Murphy", "order": 17}, {"cast_id": 38, "character": "Shuttle Crew Chief", "credit_id": "52fe48009251416c750aca73", "gender": 2, "id": 1019578, "name": "Peter Dillon", "order": 18}, {"cast_id": 39, "character": "Tractor Operator / Troupe", "credit_id": "52fe48009251416c750aca77", "gender": 0, "id": 91443, "name": "Kevin Dorman", "order": 19}, {"cast_id": 40, "character": "Dragon Gunship Pilot", "credit_id": "52fe48009251416c750aca7b", "gender": 2, "id": 173391, "name": "Kelson Henderson", "order": 20}, {"cast_id": 41, "character": "Dragon Gunship Gunner", "credit_id": "52fe48009251416c750aca7f", "gender": 0, "id": 1207236, "name": "David Van Horn", "order": 21}, {"cast_id": 42, "character": "Dragon Gunship Navigator", "credit_id": "52fe48009251416c750aca83", "gender": 0, "id": 215913, "name": "Jacob Tomuri", "order": 22}, {"cast_id": 43, "character": "Suit #1", "credit_id": "52fe48009251416c750aca87", "gender": 0, "id": 143206, "name": "Michael Blain-Rozgay", "order": 23}, {"cast_id": 44, "character": "Suit #2", "credit_id": "52fe48009251416c750aca8b", "gender": 2, "id": 169676, "name": "Jon Curry", "order": 24}, {"cast_id": 46, "character": "Ambient Room Tech", "credit_id": "52fe48009251416c750aca8f", "gender": 0, "id": 1048610, "name": "Luke Hawker", "order": 25}, {"cast_id": 47, "character": "Ambient Room Tech / Troupe", "credit_id": "52fe48009251416c750aca93", "gender": 0, "id": 42288, "name": "Woody Schultz", "order": 26}, {"cast_id": 48, "character": "Horse Clan Leader", "credit_id": "52fe48009251416c750aca97", "gender": 2, "id": 68278, "name": "Peter Mensah", "order": 27}, {"cast_id": 49, "character": "Link Room Tech", "credit_id": "52fe48009251416c750aca9b", "gender": 0, "id": 1207247, "name": "Sonia Yee", "order": 28}, {"cast_id": 50, "character": "Basketball Avatar / Troupe", "credit_id": "52fe48009251416c750aca9f", "gender": 1, "id": 1207248, "name": "Jahnel Curfman", "order": 29}, {"cast_id": 51, "character": "Basketball Avatar", "credit_id": "52fe48009251416c750acaa3", "gender": 0, "id": 89714, "name": "Ilram Choi", "order": 30}, {"cast_id": 52, "character": "Na\'vi Child", "credit_id": "52fe48009251416c750acaa7", "gender": 0, "id": 1207249, "name": "Kyla Warren", "order": 31}, {"cast_id": 53, "character": "Troupe", "credit_id": "52fe48009251416c750acaab", "gender": 0, "id": 1207250, "name": "Lisa Roumain", "order": 32}, {"cast_id": 54, "character": "Troupe", "credit_id": "52fe48009251416c750acaaf", "gender": 1, "id": 83105, "name": "Debra Wilson", "order": 33}, {"cast_id": 57, "character": "Troupe", "credit_id": "52fe48009251416c750acabb", "gender": 0, "id": 1207253, "name": "Chris Mala", "order": 34}, {"cast_id": 55, "character": "Troupe", "credit_id": "52fe48009251416c750acab3", "gender": 0, "id": 1207251, "name": "Taylor Kibby", "order": 35}, {"cast_id": 56, "character": "Troupe", "credit_id": "52fe48009251416c750acab7", "gender": 0, "id": 1207252, "name": "Jodie Landau", "order": 36}, {"cast_id": 58, "character": "Troupe", "credit_id": "52fe48009251416c750acabf", "gender": 0, "id": 1207254, "name": "Julie Lamm", "order": 37}, {"cast_id": 59, "character": "Troupe", "credit_id": "52fe48009251416c750acac3", "gender": 0, "id": 1207257, "name": "Cullen B. Madden", "order": 38}, {"cast_id": 60, "character": "Troupe", "credit_id": "52fe48009251416c750acac7", "gender": 0, "id": 1207259, "name": "Joseph Brady Madden", "order": 39}, {"cast_id": 61, "character": "Troupe", "credit_id": "52fe48009251416c750acacb", "gender": 0, "id": 1207262, "name": "Frankie Torres", "order": 40}, {"cast_id": 62, "character": "Troupe", "credit_id": "52fe48009251416c750acacf", "gender": 1, "id": 1158600, "name": "Austin Wilson", "order": 41}, {"cast_id": 63, "character": "Troupe", "credit_id": "52fe48019251416c750acad3", "gender": 1, "id": 983705, "name": "Sara Wilson", "order": 42}, {"cast_id": 64, "character": "Troupe", "credit_id": "52fe48019251416c750acad7", "gender": 0, "id": 1207263, "name": "Tamica Washington-Miller", "order": 43}, {"cast_id": 65, "character": "Op Center Staff", "credit_id": "52fe48019251416c750acadb", "gender": 1, "id": 1145098, "name": "Lucy Briant", "order": 44}, {"cast_id": 66, "character": "Op Center Staff", "credit_id": "52fe48019251416c750acadf", "gender": 2, "id": 33305, "name": "Nathan Meister", "order": 45}, {"cast_id": 67, "character": "Op Center Staff", "credit_id": "52fe48019251416c750acae3", "gender": 0, "id": 1207264, "name": "Gerry Blair", "order": 46}, {"cast_id": 68, "character": "Op Center Staff", "credit_id": "52fe48019251416c750acae7", "gender": 2, "id": 33311, "name": "Matthew Chamberlain", "order": 47}, {"cast_id": 69, "character": "Op Center Staff", "credit_id": "52fe48019251416c750acaeb", "gender": 0, "id": 1207265, "name": "Paul Yates", "order": 48}, {"cast_id": 70, "character": "Op Center Duty Officer", "credit_id": "52fe48019251416c750acaef", "gender": 0, "id": 1207266, "name": "Wray Wilson", "order": 49}, {"cast_id": 71, "character": "Op Center Staff", "credit_id": "52fe48019251416c750acaf3", "gender": 2, "id": 54492, "name": "James Gaylyn", "order": 50}, {"cast_id": 72, "character": "Dancer", "credit_id": "52fe48019251416c750acaf7", "gender": 0, "id": 1207267, "name": "Melvin Leno Clark III", "order": 51}, {"cast_id": 73, "character": "Dancer", "credit_id": "52fe48019251416c750acafb", "gender": 0, "id": 1207268, "name": "Carvon Futrell", "order": 52}, {"cast_id": 74, "character": "Dancer", "credit_id": "52fe48019251416c750acaff", "gender": 0, "id": 1207269, "name": "Brandon Jelkes", "order": 53}, {"cast_id": 75, "character": "Dancer", "credit_id": "52fe48019251416c750acb03", "gender": 0, "id": 1207270, "name": "Micah Moch", "order": 54}, {"cast_id": 76, "character": "Dancer", "credit_id": "52fe48019251416c750acb07", "gender": 0, "id": 1207271, "name": "Hanniyah Muhammad", "order": 55}, {"cast_id": 77, "character": "Dancer", "credit_id": "52fe48019251416c750acb0b", "gender": 0, "id": 1207272, "name": "Christopher Nolen", "order": 56}, {"cast_id": 78, "character": "Dancer", "credit_id": "52fe48019251416c750acb0f", "gender": 0, "id": 1207273, "name": "Christa Oliver", "order": 57}, {"cast_id": 79, "character": "Dancer", "credit_id": "52fe48019251416c750acb13", "gender": 0, "id": 1207274, "name": "April Marie Thomas", "order": 58}, {"cast_id": 80, "character": "Dancer", "credit_id": "52fe48019251416c750acb17", "gender": 0, "id": 1207275, "name": "Bravita A. Threatt", "order": 59}, {"cast_id": 81, "character": "Mining Chief (uncredited)", "credit_id": "52fe48019251416c750acb1b", "gender": 0, "id": 1207276, "name": "Colin Bleasdale", "order": 60}, {"cast_id": 82, "character": "Veteran Miner (uncredited)", "credit_id": "52fe48019251416c750acb1f", "gender": 0, "id": 107969, "name": "Mike Bodnar", "order": 61}, {"cast_id": 83, "character": "Richard (uncredited)", "credit_id": "52fe48019251416c750acb23", "gender": 0, "id": 1207278, "name": "Matt Clayton", "order": 62}, {"cast_id": 84, "character": "Nav\'i (uncredited)", "credit_id": "52fe48019251416c750acb27", "gender": 1, "id": 147898, "name": "Nicole Dionne", "order": 63}, {"cast_id": 85, "character": "Trooper (uncredited)", "credit_id": "52fe48019251416c750acb2b", "gender": 0, "id": 1207280, "name": "Jamie Harrison", "order": 64}, {"cast_id": 86, "character": "Trooper (uncredited)", "credit_id": "52fe48019251416c750acb2f", "gender": 0, "id": 1207281, "name": "Allan Henry", "order": 65}, {"cast_id": 87, "character": "Ground Technician (uncredited)", "credit_id": "52fe48019251416c750acb33", "gender": 2, "id": 1207282, "name": "Anthony Ingruber", "order": 66}, {"cast_id": 88, "character": "Flight Crew Mechanic (uncredited)", "credit_id": "52fe48019251416c750acb37", "gender": 0, "id": 1207283, "name": "Ashley Jeffery", "order": 67}, {"cast_id": 14, "character": "Samson Pilot", "credit_id": "52fe48009251416c750ac9f9", "gender": 0, "id": 98216, "name": "Dean Knowsley", "order": 68}, {"cast_id": 89, "character": "Trooper (uncredited)", "credit_id": "52fe48019251416c750acb3b", "gender": 0, "id": 1201399, "name": "Joseph Mika-Hunt", "order": 69}, {"cast_id": 90, "character": "Banshee (uncredited)", "credit_id": "52fe48019251416c750acb3f", "gender": 0, "id": 236696, "name": "Terry Notary", "order": 70}, {"cast_id": 91, "character": "Soldier (uncredited)", "credit_id": "52fe48019251416c750acb43", "gender": 0, "id": 1207287, "name": "Kai Pantano", "order": 71}, {"cast_id": 92, "character": "Blast Technician (uncredited)", "credit_id": "52fe48019251416c750acb47", "gender": 0, "id": 1207288, "name": "Logan Pithyou", "order": 72}, {"cast_id": 93, "character": "Vindum Raah (uncredited)", "credit_id": "52fe48019251416c750acb4b", "gender": 0, "id": 1207289, "name": "Stuart Pollock", "order": 73}, {"cast_id": 94, "character": "Hero (uncredited)", "credit_id": "52fe48019251416c750acb4f", "gender": 0, "id": 584868, "name": "Raja", "order": 74}, {"cast_id": 95, "character": "Ops Centreworker (uncredited)", "credit_id": "52fe48019251416c750acb53", "gender": 0, "id": 1207290, "name": "Gareth Ruck", "order": 75}, {"cast_id": 96, "character": "Engineer (uncredited)", "credit_id": "52fe48019251416c750acb57", "gender": 0, "id": 1062463, "name": "Rhian Sheehan", "order": 76}, {"cast_id": 97, "character": "Col. Quaritch\'s Mech Suit (uncredited)", "credit_id": "52fe48019251416c750acb5b", "gender": 0, "id": 60656, "name": "T. J. Storm", "order": 77}, {"cast_id": 98, "character": "Female Marine (uncredited)", "credit_id": "52fe48019251416c750acb5f", "gender": 0, "id": 1207291, "name": "Jodie Taylor", "order": 78}, {"cast_id": 99, "character": "Ikran Clan Leader (uncredited)", "credit_id": "52fe48019251416c750acb63", "gender": 1, "id": 1186027, "name": "Alicia Vela-Bailey", "order": 79}, {"cast_id": 100, "character": "Geologist (uncredited)", "credit_id": "52fe48019251416c750acb67", "gender": 0, "id": 1207292, "name": "Richard Whiteside", "order": 80}, {"cast_id": 101, "character": "Na\'vi (uncredited)", "credit_id": "52fe48019251416c750acb6b", "gender": 0, "id": 103259, "name": "Nikie Zambo", "order": 81}, {"cast_id": 102, "character": "Ambient Room Tech / Troupe", "credit_id": "52fe48019251416c750acb6f", "gender": 1, "id": 42286, "name": "Julene Renee", "order": 82}]'],
      dtype=object)

In [6]:
movies=movies.merge(credits,on='title')

In [7]:
movies.shape

(4809, 23)

In [8]:
movies.head()

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,...,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,movie_id,cast,crew
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...",...,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800,19995,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...",...,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500,285,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,245000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.sonypictures.com/movies/spectre/,206647,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",en,Spectre,A cryptic message from Bond’s past sends him o...,107.376788,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...",...,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466,206647,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,250000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",http://www.thedarkknightrises.com/,49026,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",en,The Dark Knight Rises,Following the death of District Attorney Harve...,112.312950,"[{""name"": ""Legendary Pictures"", ""id"": 923}, {""...",...,165.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The Legend Ends,The Dark Knight Rises,7.6,9106,49026,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,260000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://movies.disney.com/john-carter,49529,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",en,John Carter,"John Carter is a war-weary, former military ca...",43.926995,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}]",...,132.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"Lost in our world, found in another.",John Carter,6.1,2124,49529,"[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [9]:
movies['original_language'].value_counts()

en    4510
fr      70
es      32
zh      27
de      27
hi      19
ja      16
it      14
ko      12
cn      12
ru      11
pt       9
da       7
sv       5
nl       4
fa       4
th       3
he       3
ta       2
cs       2
ro       2
id       2
ar       2
vi       1
sl       1
ps       1
no       1
ky       1
hu       1
pl       1
af       1
nb       1
tr       1
is       1
xx       1
te       1
el       1
Name: original_language, dtype: int64

In [10]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4809 entries, 0 to 4808
Data columns (total 23 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   budget                4809 non-null   int64
 1   genres                4809 non-null   object
 2   homepage              1713 non-null   object
 3   id                    4809 non-null   int64
 4   keywords              4809 non-null   object
 5   original_language     4809 non-null   object
 6   original_title        4809 non-null   object
 7   overview              4806 non-null   object
 8   popularity            4809 non-null   float64
 9   production_companies  4809 non-null   object
 10  production_countries  4809 non-null   object
 11  release_date          4808 non-null   object
 12  revenue               4809 non-null   int64
 13  runtime               4807 non-null   float64
 14  spoken_languages      4809 non-null   object
 15  status                4809 non-null   object
 16  tagline               3965 non-null   object
 17  title                 4809 non-null   object
 18  vote_average          4809 non-null   float64
 19  vote_count            4809 non-null   int64
 20  movie_id              4809 non-null   int64
 21  cast                  4809 non-null   object
 22  crew                  4809 non-null   object
dtypes: float64(3), int64(5), object(15)
memory usage: 901.7+ KB

In [11]:
#genre
#id
#keyword
#title
#overview
#cast
#crew

movies=movies[['movie_id','title','overview','genres','keywords','cast','crew']]

In [12]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4809 entries, 0 to 4808
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   movie_id  4809 non-null   int64
 1   title     4809 non-null   object
 2   overview  4806 non-null   object
 3   genres    4809 non-null   object
 4   keywords  4809 non-null   object
 5   cast      4809 non-null   object
 6   crew      4809 non-null   object
dtypes: int64(1), object(6)
memory usage: 300.6+ KB

In [13]:
movies.head()

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...","[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...","[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,A cryptic message from Bond’s past sends him o...,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...","[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...","[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...","[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"John Carter is a war-weary, former military ca...","[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 818, ""name"": ""based on novel""}, {""id"":...","[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [14]:
movies.isnull().sum()

movie_id    0
title       0
overview    3
genres      0
keywords    0
cast        0
crew        0
dtype: int64

In [15]:
movies.dropna(inplace=True)

In [16]:
movies.duplicated().sum()

0

In [17]:
movies.iloc[0].genres

'[{"id": 28, "name": "Action"}, {"id": 12, "name": "Adventure"}, {"id": 14, "name": "Fantasy"}, {"id": 878, "name": "Science Fiction"}]'

In [18]:
import ast
def convert(obj):
    l=[]
    if isinstance(obj, str):
            result = ast.literal_eval(obj)
    else:
            result = obj
    for i in ast.literal_eval(result):
        l.append(i['name'])
    return l

In [19]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4806 entries, 0 to 4808
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   movie_id  4806 non-null   int64
 1   title     4806 non-null   object
 2   overview  4806 non-null   object
 3   genres    4806 non-null   object
 4   keywords  4806 non-null   object
 5   cast      4806 non-null   object
 6   crew      4806 non-null   object
dtypes: int64(1), object(6)
memory usage: 300.4+ KB

In [20]:
movies['genres']=movies['genres'].apply(convert)

ValueError: malformed node or string: [{'id': 28, 'name': 'Action'}, {'id': 12, 'name': 'Adventure'}, {'id': 14, 'name': 'Fantasy'}, {'id': 878, 'name': 'Science Fiction'}]

In [ ]:
movies.head()

In [21]:
movies['keywords']=movies['keywords'].apply(convert)

ValueError: malformed node or string: [{'id': 1463, 'name': 'culture clash'}, {'id': 2964, 'name': 'future'}, {'id': 3386, 'name': 'space war'}, {'id': 3388, 'name': 'space colony'}, {'id': 3679, 'name': 'society'}, {'id': 3801, 'name': 'space travel'}, {'id': 9685, 'name': 'futuristic'}, {'id': 9840, 'name': 'romance'}, {'id': 9882, 'name': 'space'}, {'id': 9951, 'name': 'alien'}, {'id': 10148, 'name': 'tribe'}, {'id': 10158, 'name': 'alien planet'}, {'id': 10987, 'name': 'cgi'}, {'id': 11399, 'name': 'marine'}, {'id': 13065, 'name': 'soldier'}, {'id': 14643, 'name': 'battle'}, {'id': 14720, 'name': 'love affair'}, {'id': 165431, 'name': 'anti war'}, {'id': 193554, 'name': 'power relations'}, {'id': 206690, 'name': 'mind and soul'}, {'id': 209714, 'name': '3d'}]

In [22]:
movies.head()

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...","[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...","[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,A cryptic message from Bond’s past sends him o...,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...","[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...","[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...","[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"John Carter is a war-weary, former military ca...","[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 818, ""name"": ""based on novel""}, {""id"":...","[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [23]:
def convert2(obj):
    l=[]
    c=0
    for i in ast.literal_eval(obj):
        if c!=3:
           l.append(i['name'])
        else:
           break
    return l

In [24]:
movies['cast']=movies['cast'].apply(convert2)

In [25]:
movies.head()

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...","[Sam Worthington, Zoe Saldana, Sigourney Weave...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...","[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...","[Johnny Depp, Orlando Bloom, Keira Knightley, ...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,A cryptic message from Bond’s past sends him o...,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...","[Daniel Craig, Christoph Waltz, Léa Seydoux, R...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...","[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...","[Christian Bale, Michael Caine, Gary Oldman, A...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"John Carter is a war-weary, former military ca...","[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 818, ""name"": ""based on novel""}, {""id"":...","[Taylor Kitsch, Lynn Collins, Samantha Morton,...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [26]:
movies['crew']

0       [{"credit_id": "52fe48009251416c750aca23", "de...
1       [{"credit_id": "52fe4232c3a36847f800b579", "de...
2       [{"credit_id": "54805967c3a36829b5002c41", "de...
3       [{"credit_id": "52fe4781c3a36847f81398c3", "de...
4       [{"credit_id": "52fe479ac3a36847f813eaa3", "de...
                              ...
4804    [{"credit_id": "52fe44eec3a36847f80b280b", "de...
4805    [{"credit_id": "52fe487dc3a368484e0fb013", "de...
4806    [{"credit_id": "52fe4df3c3a36847f8275ecf", "de...
4807    [{"credit_id": "52fe4ad9c3a368484e16a36b", "de...
4808    [{"credit_id": "58ce021b9251415a390165d9", "de...
Name: crew, Length: 4806, dtype: object

In [27]:
def fetch_director(obj):
    l=[]
    for i in  ast.literal_eval(obj):
           if i['job']=='Director':
                 l.append(i['name'])
                 continue
    return l

In [28]:
movies['crew']=movies['crew'].apply(fetch_director)

In [29]:
movies.head()

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...","[Sam Worthington, Zoe Saldana, Sigourney Weave...",[James Cameron]
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...","[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...","[Johnny Depp, Orlando Bloom, Keira Knightley, ...",[Gore Verbinski]
2,206647,Spectre,A cryptic message from Bond’s past sends him o...,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...","[Daniel Craig, Christoph Waltz, Léa Seydoux, R...",[Sam Mendes]
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...","[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...","[Christian Bale, Michael Caine, Gary Oldman, A...",[Christopher Nolan]
4,49529,John Carter,"John Carter is a war-weary, former military ca...","[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 818, ""name"": ""based on novel""}, {""id"":...","[Taylor Kitsch, Lynn Collins, Samantha Morton,...",[Andrew Stanton]

In [30]:
movies['overview'].info()

<class 'pandas.core.series.Series'>
Int64Index: 4806 entries, 0 to 4808
Series name: overview
Non-Null Count  Dtype
--------------  -----
4806 non-null   object
dtypes: object(1)
memory usage: 75.1+ KB

In [31]:
movies['overview'][0]

'In the 22nd century, a paraplegic Marine is dispatched to the moon Pandora on a unique mission, but becomes torn between following orders and protecting an alien civilization.'

In [32]:
movies['overview']=movies['overview'].apply(lambda x:x.split())

In [33]:
movies.head()

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin...","[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...","[Sam Worthington, Zoe Saldana, Sigourney Weave...",[James Cameron]
1,285,Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d...","[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...","[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...","[Johnny Depp, Orlando Bloom, Keira Knightley, ...",[Gore Verbinski]
2,206647,Spectre,"[A, cryptic, message, from, Bond’s, past, send...","[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...","[Daniel Craig, Christoph Waltz, Léa Seydoux, R...",[Sam Mendes]
3,49026,The Dark Knight Rises,"[Following, the, death, of, District, Attorney...","[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...","[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...","[Christian Bale, Michael Caine, Gary Oldman, A...",[Christopher Nolan]
4,49529,John Carter,"[John, Carter, is, a, war-weary,, former, mili...","[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 818, ""name"": ""based on novel""}, {""id"":...","[Taylor Kitsch, Lynn Collins, Samantha Morton,...",[Andrew Stanton]

In [34]:
movies['genres']=movies['genres'].apply(lambda x:[i.replace(" ","") for i in x])
movies['keywords']=movies['keywords'].apply(lambda x:[i.replace(" ","") for i in x])
movies['cast']=movies['cast'].apply(lambda x:[i.replace(" ","") for i in x])
movies['crew']=movies['crew'].apply(lambda x:[i.replace(" ","") for i in x])

In [35]:
movies.head()

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin...","[[, {, "", i, d, "", :, , 2, 8, ,, , "", n, a, m,...","[[, {, "", i, d, "", :, , 1, 4, 6, 3, ,, , "", n,...","[SamWorthington, ZoeSaldana, SigourneyWeaver, ...",[JamesCameron]
1,285,Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d...","[[, {, "", i, d, "", :, , 1, 2, ,, , "", n, a, m,...","[[, {, "", i, d, "", :, , 2, 7, 0, ,, , "", n, a,...","[JohnnyDepp, OrlandoBloom, KeiraKnightley, Ste...",[GoreVerbinski]
2,206647,Spectre,"[A, cryptic, message, from, Bond’s, past, send...","[[, {, "", i, d, "", :, , 2, 8, ,, , "", n, a, m,...","[[, {, "", i, d, "", :, , 4, 7, 0, ,, , "", n, a,...","[DanielCraig, ChristophWaltz, LéaSeydoux, Ralp...",[SamMendes]
3,49026,The Dark Knight Rises,"[Following, the, death, of, District, Attorney...","[[, {, "", i, d, "", :, , 2, 8, ,, , "", n, a, m,...","[[, {, "", i, d, "", :, , 8, 4, 9, ,, , "", n, a,...","[ChristianBale, MichaelCaine, GaryOldman, Anne...",[ChristopherNolan]
4,49529,John Carter,"[John, Carter, is, a, war-weary,, former, mili...","[[, {, "", i, d, "", :, , 2, 8, ,, , "", n, a, m,...","[[, {, "", i, d, "", :, , 8, 1, 8, ,, , "", n, a,...","[TaylorKitsch, LynnCollins, SamanthaMorton, Wi...",[AndrewStanton]

In [36]:
movies['tags']=movies['overview']+movies['genres']+movies['keywords']+movies['cast']+movies['crew']

In [37]:
movies.head()

,movie_id,title,overview,genres,keywords,cast,crew,tags
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin...","[[, {, "", i, d, "", :, , 2, 8, ,, , "", n, a, m,...","[[, {, "", i, d, "", :, , 1, 4, 6, 3, ,, , "", n,...","[SamWorthington, ZoeSaldana, SigourneyWeaver, ...",[JamesCameron],"[In, the, 22nd, century,, a, paraplegic, Marin..."
1,285,Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d...","[[, {, "", i, d, "", :, , 1, 2, ,, , "", n, a, m,...","[[, {, "", i, d, "", :, , 2, 7, 0, ,, , "", n, a,...","[JohnnyDepp, OrlandoBloom, KeiraKnightley, Ste...",[GoreVerbinski],"[Captain, Barbossa,, long, believed, to, be, d..."
2,206647,Spectre,"[A, cryptic, message, from, Bond’s, past, send...","[[, {, "", i, d, "", :, , 2, 8, ,, , "", n, a, m,...","[[, {, "", i, d, "", :, , 4, 7, 0, ,, , "", n, a,...","[DanielCraig, ChristophWaltz, LéaSeydoux, Ralp...",[SamMendes],"[A, cryptic, message, from, Bond’s, past, send..."
3,49026,The Dark Knight Rises,"[Following, the, death, of, District, Attorney...","[[, {, "", i, d, "", :, , 2, 8, ,, , "", n, a, m,...","[[, {, "", i, d, "", :, , 8, 4, 9, ,, , "", n, a,...","[ChristianBale, MichaelCaine, GaryOldman, Anne...",[ChristopherNolan],"[Following, the, death, of, District, Attorney..."
4,49529,John Carter,"[John, Carter, is, a, war-weary,, former, mili...","[[, {, "", i, d, "", :, , 2, 8, ,, , "", n, a, m,...","[[, {, "", i, d, "", :, , 8, 1, 8, ,, , "", n, a,...","[TaylorKitsch, LynnCollins, SamanthaMorton, Wi...",[AndrewStanton],"[John, Carter, is, a, war-weary,, former, mili..."

In [38]:
new_df=movies[['movie_id','title','tags']]

In [39]:
new_df

,movie_id,title,tags
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin..."
1,285,Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d..."
2,206647,Spectre,"[A, cryptic, message, from, Bond’s, past, send..."
3,49026,The Dark Knight Rises,"[Following, the, death, of, District, Attorney..."
4,49529,John Carter,"[John, Carter, is, a, war-weary,, former, mili..."
...,...,...,...
4804,9367,El Mariachi,"[El, Mariachi, just, wants, to, play, his, gui..."
4805,72766,Newlyweds,"[A, newlywed, couple's, honeymoon, is, upended..."
4806,231617,"Signed, Sealed, Delivered","[""Signed,, Sealed,, Delivered"", introduces, a,..."
4807,126186,Shanghai Calling,"[When, ambitious, New, York, attorney, Sam, is..."
4808,25975,My Date with Drew,"[Ever, since, the, second, grade, when, he, fi..."

In [40]:
new_df['tags']=new_df['tags'].apply(lambda x:" ".join(x))

/tmp/ipykernel_3704/487797088.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags']=new_df['tags'].apply(lambda x:" ".join(x))

In [41]:
new_df

,movie_id,title,tags
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha..."
2,206647,Spectre,A cryptic message from Bond’s past sends him o...
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...
4,49529,John Carter,"John Carter is a war-weary, former military ca..."
...,...,...,...
4804,9367,El Mariachi,El Mariachi just wants to play his guitar and ...
4805,72766,Newlyweds,A newlywed couple's honeymoon is upended by th...
4806,231617,"Signed, Sealed, Delivered","""Signed, Sealed, Delivered"" introduces a dedic..."
4807,126186,Shanghai Calling,When ambitious New York attorney Sam is sent t...
4808,25975,My Date with Drew,Ever since the second grade when he first saw ...

In [42]:
new_df['tags']=new_df['tags'].apply(lambda x:x.lower())

/tmp/ipykernel_3704/4224080999.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags']=new_df['tags'].apply(lambda x:x.lower())

In [43]:
new_df

,movie_id,title,tags
0,19995,Avatar,"in the 22nd century, a paraplegic marine is di..."
1,285,Pirates of the Caribbean: At World's End,"captain barbossa, long believed to be dead, ha..."
2,206647,Spectre,a cryptic message from bond’s past sends him o...
3,49026,The Dark Knight Rises,following the death of district attorney harve...
4,49529,John Carter,"john carter is a war-weary, former military ca..."
...,...,...,...
4804,9367,El Mariachi,el mariachi just wants to play his guitar and ...
4805,72766,Newlyweds,a newlywed couple's honeymoon is upended by th...
4806,231617,"Signed, Sealed, Delivered","""signed, sealed, delivered"" introduces a dedic..."
4807,126186,Shanghai Calling,when ambitious new york attorney sam is sent t...
4808,25975,My Date with Drew,ever since the second grade when he first saw ...

In [44]:
new_df['tags'][0]

'in the 22nd century, a paraplegic marine is dispatched to the moon pandora on a unique mission, but becomes torn between following orders and protecting an alien civilization. [ { " i d " :  2 8 ,  " n a m e " :  " a c t i o n " } ,  { " i d " :  1 2 ,  " n a m e " :  " a d v e n t u r e " } ,  { " i d " :  1 4 ,  " n a m e " :  " f a n t a s y " } ,  { " i d " :  8 7 8 ,  " n a m e " :  " s c i e n c e  f i c t i o n " } ] [ { " i d " :  1 4 6 3 ,  " n a m e " :  " c u l t u r e  c l a s h " } ,  { " i d " :  2 9 6 4 ,  " n a m e " :  " f u t u r e " } ,  { " i d " :  3 3 8 6 ,  " n a m e " :  " s p a c e  w a r " } ,  { " i d " :  3 3 8 8 ,  " n a m e " :  " s p a c e  c o l o n y " } ,  { " i d " :  3 6 7 9 ,  " n a m e " :  " s o c i e t y " } ,  { " i d " :  3 8 0 1 ,  " n a m e " :  " s p a c e  t r a v e l " } ,  { " i d " :  9 6 8 5 ,  " n a m e " :  " f u t u r i s t i c " } ,  { " i d " :  9 8 4 0 ,  " n a m e " :  " r o m a n c e " } ,  { " i d " :  9 8 8 2 ,  " n a m e " :  " s p a c e " } ,  { " i d " :  9 9 5 1 ,  " n a m e " :  " a l i e n " } ,  { " i d " :  1 0 1 4 8 ,  " n a m e " :  " t r i b e " } ,  { " i d " :  1 0 1 5 8 ,  " n a m e " :  " a l i e n  p l a n e t " } ,  { " i d " :  1 0 9 8 7 ,  " n a m e " :  " c g i " } ,  { " i d " :  1 1 3 9 9 ,  " n a m e " :  " m a r i n e " } ,  { " i d " :  1 3 0 6 5 ,  " n a m e " :  " s o l d i e r " } ,  { " i d " :  1 4 6 4 3 ,  " n a m e " :  " b a t t l e " } ,  { " i d " :  1 4 7 2 0 ,  " n a m e " :  " l o v e  a f f a i r " } ,  { " i d " :  1 6 5 4 3 1 ,  " n a m e " :  " a n t i  w a r " } ,  { " i d " :  1 9 3 5 5 4 ,  " n a m e " :  " p o w e r  r e l a t i o n s " } ,  { " i d " :  2 0 6 6 9 0 ,  " n a m e " :  " m i n d  a n d  s o u l " } ,  { " i d " :  2 0 9 7 1 4 ,  " n a m e " :  " 3 d " } ] samworthington zoesaldana sigourneyweaver stephenlang michellerodriguez giovanniribisi joeldavidmoore cchpounder wesstudi lazalonso dileeprao mattgerald seananthonymoran jasonwhyte scottlawrence kellykilgour jamespatrickpitt seanpatrickmurphy peterdillon kevindorman kelsonhenderson davidvanhorn jacobtomuri michaelblain-rozgay joncurry lukehawker woodyschultz petermensah soniayee jahnelcurfman ilramchoi kylawarren lisaroumain debrawilson chrismala taylorkibby jodielandau julielamm cullenb.madden josephbradymadden frankietorres austinwilson sarawilson tamicawashington-miller lucybriant nathanmeister gerryblair matthewchamberlain paulyates wraywilson jamesgaylyn melvinlenoclarkiii carvonfutrell brandonjelkes micahmoch hanniyahmuhammad christophernolen christaoliver aprilmariethomas bravitaa.threatt colinbleasdale mikebodnar mattclayton nicoledionne jamieharrison allanhenry anthonyingruber ashleyjeffery deanknowsley josephmika-hunt terrynotary kaipantano loganpithyou stuartpollock raja garethruck rhiansheehan t.j.storm jodietaylor aliciavela-bailey richardwhiteside nikiezambo julenerenee jamescameron'

In [45]:
new_df.head()

,movie_id,title,tags
0,19995,Avatar,"in the 22nd century, a paraplegic marine is di..."
1,285,Pirates of the Caribbean: At World's End,"captain barbossa, long believed to be dead, ha..."
2,206647,Spectre,a cryptic message from bond’s past sends him o...
3,49026,The Dark Knight Rises,following the death of district attorney harve...
4,49529,John Carter,"john carter is a war-weary, former military ca..."

In [46]:
!pip install sklearn

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: sklearn in /home/dell/.local/lib/python3.10/site-packages (0.0.post2)

In [47]:
from sklearn.feature_extraction.text import CountVectorizer
cv=CountVectorizer(max_features=5000,stop_words='english')

In [48]:
vectors=cv.fit_transform(new_df['tags']).toarray()

In [49]:
vectors

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]])

In [50]:
vectors.shape

(4806, 5000)

In [51]:
cv.get_feature_names_out()

array(['000', '007', '10', ..., 'zoo', 'zooeydeschanel', 'zoëkravitz'],
      dtype=object)

In [52]:
!pip install nltk

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: nltk in /home/dell/.local/lib/python3.10/site-packages (3.8.1)
Requirement already satisfied: click in /usr/lib/python3.10/site-packages (from nltk) (8.1.3)
Requirement already satisfied: tqdm in /usr/lib/python3.10/site-packages/tqdm-4.65.0-py3.10.egg (from nltk) (4.65.0)
Requirement already satisfied: regex>=2021.8.3 in /usr/lib/python3.10/site-packages (from nltk) (2023.3.23)
Requirement already satisfied: joblib in /usr/lib/python3.10/site-packages (from nltk) (1.2.0)

In [53]:
from nltk.stem.porter import PorterStemmer
ps=PorterStemmer()

In [54]:
def stem(text):
    y=[]
    for i in text.split():
        y.append(ps.stem(i))
    return " " + join(y)

In [55]:
new_df['tags']=new_df['tags'].apply(ps.stem)

/tmp/ipykernel_3704/3011440102.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags']=new_df['tags'].apply(ps.stem)

In [56]:
from sklearn.metrics.pairwise import cosine_similarity

In [57]:
similarity=cosine_similarity(vectors)

In [58]:
sorted(list(enumerate(similarity[0])),reverse=True,key=lambda x:x[1])

[(0, 1.0000000000000004),
 (3608, 0.19466570535691508),
 (529, 0.12344267996967354),
 (3622, 0.12000000000000002),
 (1216, 0.11795356492391772),
 (2136, 0.11547005383792518),
 (942, 0.11338934190276817),
 (972, 0.11141720290623112),
 (1175, 0.10776318121606496),
 (151, 0.10327955589886445),
 (628, 0.10141851056742199),
 (213, 0.1),
 (1655, 0.1),
 (2971, 0.1),
 (139, 0.09863939238321438),
 (36, 0.09733285267845754),
 (199, 0.09733285267845754),
 (312, 0.09733285267845754),
 (951, 0.08944271909999159),
 (1277, 0.08944271909999159),
 (4173, 0.08944271909999159),
 (2620, 0.08728715609439697),
 (1181, 0.08528028654224418),
 (1616, 0.08528028654224418),
 (2367, 0.08401680504168059),
 (544, 0.08340576562282992),
 (1790, 0.08340576562282992),
 (2622, 0.08340576562282992),
 (3109, 0.08340576562282992),
 (1965, 0.08320502943378438),
 (568, 0.08164965809277262),
 (1344, 0.08164965809277262),
 (3340, 0.08164965809277262),
 (4692, 0.08164965809277261),
 (150, 0.08017837257372733),
 (1534, 0.08017837257372733),
 (973, 0.08000000000000002),
 (1178, 0.08000000000000002),
 (787, 0.07698003589195011),
 (1920, 0.07698003589195011),
 (3310, 0.07698003589195011),
 (148, 0.07559289460184544),
 (1401, 0.07559289460184544),
 (3423, 0.07559289460184544),
 (3497, 0.07559289460184544),
 (1161, 0.07427813527082075),
 (1832, 0.07427813527082075),
 (1232, 0.07302967433402215),
 (847, 0.07272727272727274),
 (47, 0.07223151185146152),
 (557, 0.07184212081070997),
 (1945, 0.07184212081070997),
 (2409, 0.07071067811865475),
 (4757, 0.07071067811865475),
 (74, 0.06963106238227915),
 (270, 0.06963106238227915),
 (425, 0.06963106238227915),
 (582, 0.06963106238227915),
 (988, 0.06963106238227915),
 (2235, 0.06859943405700353),
 (3162, 0.06859943405700353),
 (43, 0.06761234037828133),
 (311, 0.06761234037828133),
 (1191, 0.06761234037828133),
 (2634, 0.06666666666666667),
 (214, 0.06575959492214292),
 (83, 0.06405126152203486),
 (1808, 0.06405126152203486),
 (1056, 0.0632455532033676),
 (1278, 0.0632455532033676),
 (1673, 0.0632455532033676),
 (2333, 0.0632455532033676),
 (2376, 0.0632455532033676),
 (2388, 0.0632455532033676),
 (3505, 0.0632455532033676),
 (3840, 0.0632455532033676),
 (4332, 0.0632455532033676),
 (280, 0.06246950475544243),
 (2467, 0.06246950475544243),
 (1220, 0.06172133998483677),
 (1659, 0.06172133998483677),
 (507, 0.06030226891555273),
 (1321, 0.06030226891555273),
 (1444, 0.06030226891555273),
 (2880, 0.06030226891555273),
 (3730, 0.06030226891555273),
 (4351, 0.06030226891555273),
 (2153, 0.0596284793999944),
 (2663, 0.0596284793999944),
 (2968, 0.0596284793999944),
 (1639, 0.05897678246195886),
 (3225, 0.05897678246195886),
 (1019, 0.058345996599157825),
 (45, 0.05773502691896259),
 (838, 0.05773502691896259),
 (3350, 0.05773502691896259),
 (3914, 0.05773502691896259),
 (4216, 0.05773502691896259),
 (4594, 0.05773502691896259),
 (856, 0.05714285714285714),
 (149, 0.05601120336112039),
 (206, 0.05601120336112039),
 (27, 0.05547001962252292),
 (153, 0.05547001962252292),
 (2731, 0.05547001962252292),
 (2786, 0.05547001962252292),
 (3462, 0.05547001962252292),
 (3753, 0.05547001962252292),
 (3949, 0.05547001962252292),
 (4192, 0.05547001962252292),
 (4454, 0.05547001962252292),
 (4622, 0.05547001962252292),
 (281, 0.05393598899705937),
 (4048, 0.05393598899705937),
 (313, 0.053452248382484885),
 (1109, 0.053452248382484885),
 (1282, 0.053452248382484885),
 (1410, 0.053452248382484885),
 (1488, 0.053452248382484885),
 (1721, 0.053452248382484885),
 (2772, 0.053452248382484885),
 (3195, 0.053452248382484885),
 (3253, 0.053452248382484885),
 (3663, 0.053452248382484885),
 (3808, 0.053452248382484885),
 (4632, 0.053452248382484885),
 (4305, 0.05298129428260176),
 (1898, 0.05252257314388902),
 (158, 0.052075564392329556),
 (3201, 0.052075564392329556),
 (495, 0.051639777949432225),
 (794, 0.051639777949432225),
 (1408, 0.051639777949432225),
 (1769, 0.051639777949432225),
 (1999, 0.051639777949432225),
 (2250, 0.051639777949432225),
 (2584, 0.051639777949432225),
 (2861, 0.051639777949432225),
 (3072, 0.051639777949432225),
 (3306, 0.051639777949432225),
 (3976, 0.051639777949432225),
 (4044, 0.051639777949432225),
 (4496, 0.051639777949432225),
 (1741, 0.05121475197315839),
 (3368, 0.05039526306789696),
 (177, 0.05),
 (487, 0.05),
 (617, 0.05),
 (823, 0.05),
 (1288, 0.05),
 (1301, 0.05),
 (1335, 0.05),
 (1671, 0.05),
 (1934, 0.05),
 (2515, 0.05),
 (2882, 0.05),
 (3686, 0.05),
 (3839, 0.05),
 (4277, 0.04923659639173309),
 (157, 0.048507125007266595),
 (373, 0.048507125007266595),
 (1973, 0.048507125007266595),
 (2057, 0.048507125007266595),
 (2232, 0.048507125007266595),
 (2962, 0.048507125007266595),
 (3151, 0.048507125007266595),
 (3325, 0.048507125007266595),
 (3538, 0.048507125007266595),
 (3999, 0.048507125007266595),
 (4652, 0.048507125007266595),
 (657, 0.047809144373375745),
 (461, 0.047140452079103175),
 (1348, 0.047140452079103175),
 (1431, 0.047140452079103175),
 (1810, 0.047140452079103175),
 (1879, 0.047140452079103175),
 (2112, 0.047140452079103175),
 (2144, 0.047140452079103175),
 (2199, 0.047140452079103175),
 (2651, 0.047140452079103175),
 (2726, 0.047140452079103175),
 (3176, 0.047140452079103175),
 (3502, 0.047140452079103175),
 (44, 0.04588314677411235),
 (581, 0.04588314677411235),
 (1201, 0.04588314677411235),
 (1329, 0.04588314677411235),
 (2138, 0.04588314677411235),
 (2233, 0.04588314677411235),
 (2556, 0.04588314677411235),
 (3628, 0.04588314677411235),
 (3716, 0.04588314677411235),
 (599, 0.04500351603704096),
 (570, 0.044721359549995794),
 (789, 0.044721359549995794),
 (1304, 0.044721359549995794),
 (2017, 0.044721359549995794),
 (2075, 0.044721359549995794),
 (2783, 0.044721359549995794),
 (2868, 0.044721359549995794),
 (3165, 0.044721359549995794),
 (3297, 0.044721359549995794),
 (3483, 0.044721359549995794),
 (3647, 0.044721359549995794),
 (3875, 0.044721359549995794),
 (3901, 0.044721359549995794),
 (4327, 0.044721359549995794),
 (3810, 0.044444444444444446),
 (134, 0.043643578047198484),
 (404, 0.043643578047198484),
 (976, 0.043643578047198484),
 (1274, 0.043643578047198484),
 (1469, 0.043643578047198484),
 (1844, 0.043643578047198484),
 (2148, 0.043643578047198484),
 (2175, 0.043643578047198484),
 (2589, 0.043643578047198484),
 (2817, 0.043643578047198484),
 (3316, 0.043643578047198484),
 (3745, 0.043643578047198484),
 (3937, 0.043643578047198484),
 (4112, 0.043643578047198484),
 (4799, 0.043643578047198484),
 (56, 0.04264014327112209),
 (88, 0.04264014327112209),
 (236, 0.04264014327112209),
 (384, 0.04264014327112209),
 (539, 0.04264014327112209),
 (634, 0.04264014327112209),
 (1016, 0.04264014327112209),
 (1036, 0.04264014327112209),
 (1378, 0.04264014327112209),
 (1553, 0.04264014327112209),
 (1728, 0.04264014327112209),
 (2204, 0.04264014327112209),
 (3074, 0.04264014327112209),
 (3115, 0.04264014327112209),
 (3954, 0.04264014327112209),
 (275, 0.04170288281141496),
 (614, 0.04170288281141496),
 (1234, 0.04170288281141496),
 (1849, 0.04170288281141496),
 (2066, 0.04170288281141496),
 (2216, 0.04170288281141496),
 (2356, 0.04170288281141496),
 (2372, 0.04170288281141496),
 (2506, 0.04170288281141496),
 (2535, 0.04170288281141496),
 (2808, 0.04170288281141496),
 (2955, 0.04170288281141496),
 (3177, 0.04170288281141496),
 (3208, 0.04170288281141496),
 (3355, 0.04170288281141496),
 (3744, 0.04170288281141496),
 (3977, 0.04170288281141496),
 (4125, 0.04170288281141496),
 (4633, 0.04170288281141496),
 (307, 0.04125684985035174),
 (484, 0.04082482904638631),
 (672, 0.04082482904638631),
 (871, 0.04082482904638631),
 (1070, 0.04082482904638631),
 (1504, 0.04082482904638631),
 (1537, 0.04082482904638631),
 (1611, 0.04082482904638631),
 (1747, 0.04082482904638631),
 (2014, 0.04082482904638631),
 (2022, 0.04082482904638631),
 (2652, 0.04082482904638631),
 (2824, 0.04082482904638631),
 (3060, 0.04082482904638631),
 (3673, 0.04082482904638631),
 (167, 0.04000000000000001),
 (1037, 0.04000000000000001),
 (1071, 0.04000000000000001),
 (1580, 0.04000000000000001),
 (1612, 0.04000000000000001),
 (1840, 0.04000000000000001),
 (1928, 0.04000000000000001),
 (2689, 0.04000000000000001),
 (3022, 0.04000000000000001),
 (3255, 0.04000000000000001),
 (3301, 0.04000000000000001),
 (87, 0.03922322702763681),
 (122, 0.03922322702763681),
 (466, 0.03922322702763681),
 (483, 0.03922322702763681),
 (562, 0.03922322702763681),
 (884, 0.03922322702763681),
 (1030, 0.03922322702763681),
 (1045, 0.03922322702763681),
 (1097, 0.03922322702763681),
 (1275, 0.03922322702763681),
 (1383, 0.03922322702763681),
 (1420, 0.03922322702763681),
 (1586, 0.03922322702763681),
 (2072, 0.03922322702763681),
 (2159, 0.03922322702763681),
 (2224, 0.03922322702763681),
 (2400, 0.03922322702763681),
 (2851, 0.03922322702763681),
 (3580, 0.03922322702763681),
 (3823, 0.03922322702763681),
 (3926, 0.03922322702763681),
 (31, 0.03849001794597506),
 (521, 0.03849001794597506),
 (598, 0.03849001794597506),
 (626, 0.03849001794597506),
 (707, 0.03849001794597506),
 (854, 0.03849001794597506),
 (855, 0.03849001794597506),
 (1519, 0.03849001794597506),
 (1717, 0.03849001794597506),
 (2465, 0.03849001794597506),
 (2595, 0.03849001794597506),
 (2709, 0.03849001794597506),
 (2813, 0.03849001794597506),
 (4016, 0.03849001794597506),
 (4080, 0.03849001794597506),
 (4640, 0.03849001794597506),
 (4657, 0.03849001794597506),
 (204, 0.03779644730092272),
 (637, 0.03779644730092272),
 (775, 0.03779644730092272),
 (903, 0.03779644730092272),
 (1290, 0.03779644730092272),
 (1788, 0.03779644730092272),
 (2879, 0.03779644730092272),
 (3664, 0.03779644730092272),
 (3701, 0.03779644730092272),
 (4045, 0.03779644730092272),
 (4292, 0.03779644730092272),
 (99, 0.037139067635410375),
 (184, 0.037139067635410375),
 (430, 0.037139067635410375),
 (535, 0.037139067635410375),
 (746, 0.037139067635410375),
 (863, 0.037139067635410375),
 (1249, 0.037139067635410375),
 (1281, 0.037139067635410375),
 (1440, 0.037139067635410375),
 (1455, 0.037139067635410375),
 (1535, 0.037139067635410375),
 (1978, 0.037139067635410375),
 (2264, 0.037139067635410375),
 (2605, 0.037139067635410375),
 (2756, 0.037139067635410375),
 (2864, 0.037139067635410375),
 (3292, 0.037139067635410375),
 (3443, 0.037139067635410375),
 (3574, 0.037139067635410375),
 (174, 0.03651483716701107),
 (454, 0.03651483716701107),
 (616, 0.03651483716701107),
 (788, 0.03651483716701107),
 (875, 0.03651483716701107),
 (899, 0.03651483716701107),
 (901, 0.03651483716701107),
 (1011, 0.03651483716701107),
 (1032, 0.03651483716701107),
 (1096, 0.03651483716701107),
 (1141, 0.03651483716701107),
 (1145, 0.03651483716701107),
 (1204, 0.03651483716701107),
 (1608, 0.03651483716701107),
 (1823, 0.03651483716701107),
 (2164, 0.03651483716701107),
 (3059, 0.03651483716701107),
 (3100, 0.03651483716701107),
 (3199, 0.03651483716701107),
 (3329, 0.03651483716701107),
 (4265, 0.03651483716701107),
 (4484, 0.03651483716701107),
 (4620, 0.03651483716701107),
 (185, 0.03592106040535498),
 (203, 0.03592106040535498),
 (255, 0.03592106040535498),
 (344, 0.03592106040535498),
 (894, 0.03592106040535498),
 (1859, 0.03592106040535498),
 (2121, 0.03592106040535498),
 (2226, 0.03592106040535498),
 (2929, 0.03592106040535498),
 (3463, 0.03592106040535498),
 (3562, 0.03592106040535498),
 (3750, 0.03592106040535498),
 (3806, 0.03592106040535498),
 (3958, 0.03592106040535498),
 (4205, 0.03592106040535498),
 (4380, 0.03592106040535498),
 (68, 0.035355339059327376),
 (92, 0.035355339059327376),
 (551, 0.035355339059327376),
 (687, 0.035355339059327376),
 (835, 0.035355339059327376),
 (1854, 0.035355339059327376),
 (2109, 0.035355339059327376),
 (2284, 0.035355339059327376),
 (2364, 0.035355339059327376),
 (2527, 0.035355339059327376),
 (3729, 0.035355339059327376),
 (3735, 0.035355339059327376),
 (91, 0.03481553119113957),
 (372, 0.03481553119113957),
 (646, 0.03481553119113957),
 (906, 0.03481553119113957),
 (1121, 0.03481553119113957),
 (1202, 0.03481553119113957),
 (1473, 0.03481553119113957),
 (1600, 0.03481553119113957),
 (1759, 0.03481553119113957),
 (1963, 0.03481553119113957),
 (2502, 0.03481553119113957),
 (2794, 0.03481553119113957),
 (3053, 0.03481553119113957),
 (4317, 0.03481553119113957),
 (632, 0.034299717028501764),
 (1015, 0.034299717028501764),
 (1322, 0.034299717028501764),
 (2211, 0.034299717028501764),
 (2414, 0.034299717028501764),
 (2632, 0.034299717028501764),
 (2841, 0.034299717028501764),
 (3102, 0.034299717028501764),
 (3108, 0.034299717028501764),
 (3620, 0.034299717028501764),
 (3630, 0.034299717028501764),
 (3782, 0.034299717028501764),
 (94, 0.033806170189140665),
 (635, 0.033806170189140665),
 (692, 0.033806170189140665),
 (1023, 0.033806170189140665),
 (1454, 0.033806170189140665),
 (1802, 0.033806170189140665),
 (2087, 0.033806170189140665),
 (2433, 0.033806170189140665),
 (2669, 0.033806170189140665),
 (4268, 0.033806170189140665),
 (4553, 0.033806170189140665),
 (11, 0.03333333333333333),
 (53, 0.03333333333333333),
 (513, 0.03333333333333333),
 (549, 0.03333333333333333),
 (1166, 0.03333333333333333),
 (1248, 0.03333333333333333),
 (1733, 0.03333333333333333),
 (2030, 0.03333333333333333),
 (2750, 0.03333333333333333),
 (3214, 0.03333333333333333),
 (4217, 0.03333333333333333),
 (4249, 0.03333333333333333),
 (420, 0.03287979746107146),
 (595, 0.03287979746107146),
 (740, 0.03287979746107146),
 (1512, 0.03287979746107146),
 (1758, 0.03287979746107146),
 (2740, 0.03287979746107146),
 (2924, 0.03287979746107146),
 (2940, 0.03287979746107146),
 (3008, 0.03287979746107146),
 (3091, 0.03287979746107146),
 (4359, 0.03287979746107146),
 (26, 0.03244428422615251),
 (131, 0.03244428422615251),
 (132, 0.03244428422615251),
 (228, 0.03244428422615251),
 (257, 0.03244428422615251),
 (588, 0.03244428422615251),
 (596, 0.03244428422615251),
 (1531, 0.03244428422615251),
 (3140, 0.03244428422615251),
 (3390, 0.03244428422615251),
 (4545, 0.03244428422615251),
 (188, 0.03202563076101743),
 (407, 0.03202563076101743),
 (456, 0.03202563076101743),
 (502, 0.03202563076101743),
 (671, 0.03202563076101743),
 (782, 0.03202563076101743),
 (1312, 0.03202563076101743),
 (2650, 0.03202563076101743),
 (2679, 0.03202563076101743),
 (2695, 0.03202563076101743),
 (3795, 0.03202563076101743),
 (4013, 0.03202563076101743),
 (4181, 0.03202563076101743),
 (432, 0.0316227766016838),
 (475, 0.0316227766016838),
 (1149, 0.0316227766016838),
 (2005, 0.0316227766016838),
 (2490, 0.0316227766016838),
 (2547, 0.0316227766016838),
 (365, 0.031234752377721216),
 (473, 0.031234752377721216),
 (612, 0.031234752377721216),
 (1479, 0.031234752377721216),
 (1846, 0.031234752377721216),
 (2729, 0.031234752377721216),
 (2802, 0.031234752377721216),
 (3400, 0.031234752377721216),
 (4529, 0.031234752377721216),
 (253, 0.030860669992418384),
 (883, 0.030860669992418384),
 (1561, 0.030860669992418384),
 (3560, 0.030860669992418384),
 (4063, 0.030860669992418384),
 (618, 0.030499714066520935),
 (758, 0.030499714066520935),
 (1192, 0.030499714066520935),
 (1538, 0.030499714066520935),
 (2692, 0.030499714066520935),
 (3478, 0.030499714066520935),
 (29, 0.030151134457776365),
 (170, 0.030151134457776365),
 (586, 0.030151134457776365),
 (946, 0.030151134457776365),
 (1842, 0.030151134457776365),
 (2320, 0.030151134457776365),
 (57, 0.0298142396999972),
 (239, 0.0298142396999972),
 (273, 0.0298142396999972),
 (458, 0.0298142396999972),
 (734, 0.0298142396999972),
 (768, 0.0298142396999972),
 (790, 0.0298142396999972),
 (1305, 0.0298142396999972),
 (1559, 0.0298142396999972),
 (1684, 0.0298142396999972),
 (2256, 0.0298142396999972),
 (3950, 0.0298142396999972),
 (107, 0.02948839123097943),
 (140, 0.02948839123097943),
 (574, 0.02948839123097943),
 (1497, 0.02948839123097943),
 (2488, 0.02948839123097943),
 (3228, 0.02948839123097943),
 (804, 0.029172998299578912),
 (1678, 0.029172998299578912),
 (3048, 0.029172998299578912),
 (277, 0.028867513459481294),
 (412, 0.028867513459481294),
 (448, 0.028867513459481294),
 (607, 0.028867513459481294),
 (1357, 0.028867513459481294),
 (1371, 0.028867513459481294),
 (2054, 0.028867513459481294),
 (2200, 0.028867513459481294),
 (3298, 0.028867513459481294),
 (467, 0.02857142857142857),
 (1102, 0.02857142857142857),
 (1743, 0.02857142857142857),
 (7, 0.0282842712474619),
 (1418, 0.0282842712474619),
 (2881, 0.0282842712474619),
 (102, 0.028005601680560196),
 (343, 0.028005601680560196),
 (622, 0.028005601680560196),
 (1164, 0.028005601680560196),
 (4656, 0.028005601680560196),
 (5, 0.02773500981126146),
 (222, 0.02773500981126146),
 (230, 0.02773500981126146),
 (496, 0.02773500981126146),
 (1828, 0.02773500981126146),
 (3700, 0.02773500981126146),
 (1346, 0.02747211278973781),
 (1487, 0.02747211278973781),
 (2203, 0.02747211278973781),
 (2397, 0.02747211278973781),
 (3583, 0.02747211278973781),
 (4786, 0.02747211278973781),
 (406, 0.02721655269759087),
 (997, 0.02721655269759087),
 (1456, 0.02721655269759087),
 (4051, 0.02721655269759087),
 (4798, 0.02721655269759087),
 (127, 0.026967994498529685),
 (747, 0.026967994498529685),
 (1002, 0.026967994498529685),
 (1926, 0.026967994498529685),
 (2549, 0.026967994498529685),
 (2860, 0.026967994498529685),
 (3431, 0.026967994498529685),
 (301, 0.02649064714130088),
 (193, 0.02626128657194451),
 (785, 0.02626128657194451),
 (1007, 0.026037782196164778),
 (1120, 0.026037782196164778),
 (1509, 0.026037782196164778),
 (1992, 0.026037782196164778),
 (3520, 0.026037782196164778),
 (1477, 0.025819888974716113),
 (1918, 0.025819888974716113),
 (4330, 0.025819888974716113),
 (160, 0.025607375986579195),
 (3554, 0.025607375986579195),
 (2115, 0.02519763153394848),
 (1634, 0.025),
 (2150, 0.025),
 (3324, 0.024806946917841695),
 (1785, 0.024618298195866545),
 (3892, 0.024618298195866545),
 (342, 0.024433888871261047),
 (3, 0.024253562503633298),
 (3587, 0.024253562503633298),
 (488, 0.02407717061715384),
 (1136, 0.023570226039551587),
 (2168, 0.023570226039551587),
 (4221, 0.023408229439226116),
 (2346, 0.02324952774876386),
 (730, 0.02309401076758503),
 (2049, 0.02309401076758503),
 (2832, 0.02279211529192759),
 (4682, 0.02279211529192759),
 (1428, 0.022645540682891915),
 (3509, 0.022645540682891915),
 (2142, 0.022222222222222223),
 (2166, 0.02169304578186562),
 (3951, 0.0214422506967559),
 (3315, 0.020306923302672385),
 (137, 0.019611613513818404),
 (89, 0.017747130188322278),
 (974, 0.015617376188860608),
 (4706, 0.015523010514126656),
 (1, 0.0),
 (2, 0.0),
 (4, 0.0),
 (6, 0.0),
 (8, 0.0),
 (9, 0.0),
 (10, 0.0),
 (12, 0.0),
 (13, 0.0),
 (14, 0.0),
 (15, 0.0),
 (16, 0.0),
 (17, 0.0),
 (18, 0.0),
 (19, 0.0),
 (20, 0.0),
 (21, 0.0),
 (22, 0.0),
 (23, 0.0),
 (24, 0.0),
 (25, 0.0),
 (28, 0.0),
 (30, 0.0),
 (32, 0.0),
 (33, 0.0),
 (34, 0.0),
 (35, 0.0),
 (37, 0.0),
 (38, 0.0),
 (39, 0.0),
 (40, 0.0),
 (41, 0.0),
 (42, 0.0),
 (46, 0.0),
 (48, 0.0),
 (49, 0.0),
 (50, 0.0),
 (51, 0.0),
 (52, 0.0),
 (54, 0.0),
 (55, 0.0),
 (58, 0.0),
 (59, 0.0),
 (60, 0.0),
 (61, 0.0),
 (62, 0.0),
 (63, 0.0),
 (64, 0.0),
 (65, 0.0),
 (66, 0.0),
 (67, 0.0),
 (69, 0.0),
 (70, 0.0),
 (71, 0.0),
 (72, 0.0),
 (73, 0.0),
 (75, 0.0),
 (76, 0.0),
 (77, 0.0),
 (78, 0.0),
 (79, 0.0),
 (80, 0.0),
 (81, 0.0),
 (82, 0.0),
 (84, 0.0),
 (85, 0.0),
 (86, 0.0),
 (90, 0.0),
 (93, 0.0),
 (95, 0.0),
 (96, 0.0),
 (97, 0.0),
 (98, 0.0),
 (100, 0.0),
 (101, 0.0),
 (103, 0.0),
 (104, 0.0),
 (105, 0.0),
 (106, 0.0),
 (108, 0.0),
 (109, 0.0),
 (110, 0.0),
 (111, 0.0),
 (112, 0.0),
 (113, 0.0),
 (114, 0.0),
 (115, 0.0),
 (116, 0.0),
 (117, 0.0),
 (118, 0.0),
 (119, 0.0),
 (120, 0.0),
 (121, 0.0),
 (123, 0.0),
 (124, 0.0),
 (125, 0.0),
 (126, 0.0),
 (128, 0.0),
 (129, 0.0),
 (130, 0.0),
 (133, 0.0),
 (135, 0.0),
 (136, 0.0),
 (138, 0.0),
 (141, 0.0),
 (142, 0.0),
 (143, 0.0),
 (144, 0.0),
 (145, 0.0),
 (146, 0.0),
 (147, 0.0),
 (152, 0.0),
 (154, 0.0),
 (155, 0.0),
 (156, 0.0),
 (159, 0.0),
 (161, 0.0),
 (162, 0.0),
 (163, 0.0),
 (164, 0.0),
 (165, 0.0),
 (166, 0.0),
 (168, 0.0),
 (169, 0.0),
 (171, 0.0),
 (172, 0.0),
 (173, 0.0),
 (175, 0.0),

In [59]:
def recommend(movie):
    movie_idx=new_df[new_df['title']==movie].index[0]
    distances=similarity[movie_idx]
    movies_list=sorted(list(enumerate(distances)),reverse=True,key=lambda x:x[1])
    c=0
    for i in movies_list:
        if  c!=6:
           if c!=0:
              print(new_df.iloc[i[0]].title)
           c=c+1
        else:
            break

In [61]:
recommend('Batman Begins')

The Dark Knight Rises
The Dark Knight
Raising Helen
Batman
Don't Be Afraid of the Dark

In [62]:
import pickle

In [66]:
pickle.dump(new_df.to_dict(),open('movies.pkl','wb'))

In [68]:
pickle.dump(similarity,open('similarity.pkl','wb'))